<!-- Footer -->
<footer class='bg-yellow-100 w-full relative footer-area py-6 px-8 sm:py-10 md:py-16 overflow-hidden' id='contact'>
	<div class='container mx-auto max-w-screen-sm'>
	<div class='text-center mb-10'>
		<img alt='logo' class='h-12 sm:h-16 inline-block' src='/assets/img/logo.png'/>
	</div>
	<div class='flex flex-col mb-3 text-md text-gray-500 font-light'>
		<p>Capitaine Jean Luc PICARD</p>
		<p>33500 LIBOURNE</p>
	</div>
	<div class='copyrights'>
		<p class='para text-gray-500 font-light text-sm'>
		Copyright ©2021 - present All rights reserved | Made by
		<a class='text-primary hover:opacity-75' href='kloudkonsole.com'>
			Kloud Konsole
		</a>
		</p>
	</div>
	</div>
</footer>